<section id="contact" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Get in Touch!</h2>
                <hr class="primary">
                <p>Ready to organize your memories? That's great! Send us an email to arrange a time to drop off your photos and we will get started right away!</p>

                <a href="mailto:{{ site.email }}">
                    <i style="color: #F05F40" class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ site.email }}</p>
                </a>
            </div>
        </div>  
    </div>
</section>
