<section id="faq">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">F.A.Q.</h2>
                <hr class="light">
                <div class="row">
                    <h3 style="padding-bottom:10px">Do I need to remove all of my photos from albums and binders?</h3>
                    <p class="text-muted">Yes, all photos should be removed from any photo books or albums. They should be placed into sandwich bags or bundled with rubber bands. We will not remove any photos from albums.</p>
                </div>
                <div class="row">
                    <h3 style="padding-bottom:10px">Do I need to label my photos?</h3>
                    <p class="text-muted">Its not necessary, but a little upfront work will go a long way when browsing photos later. All of your photos will be organized into albums based on your provided label. Each image will have the date added to the file metadata so it can be viewed in order. You can provide an actual day or just provide a year.</p>
                </div>
                <div class="row">
                    <h3 style="padding-bottom:10px">Is handwriting on the back of the image included?</h3>
                    <p class="text-muted">Yes! If handwriting is detected on the back of the image, it will be scanned and included as a separate file next to the front. No extra charge!</p>
                </div>
                <div class="row">
                    <h3 style="padding-bottom:10px">What are enhanced photos?</h3>
                    <p class="text-muted">In addition to the raw scan, enhanced photos are included. This includes color correction, red eye reduction, and general enhancements.</p>
                    <div style="padding-bottom:20px" class="col-lg-6 text-center">
                        <img src="img/original.jpg" class="img-responsive" alt="original">
                        Original
                    </div>
                    <div class="col-lg-6 text-center">
                        <img src="img/enhanced.jpg" class="img-responsive" alt="enhanced">
                        Enhanced
                    </div>
                </div>
                <div class="row">
                    <h3 style="padding-bottom:10px">What size images can be scanned?</h3>
                    <p class="text-muted">We can scan all photos from wallet (2.5" x 3.5") up to 8.5" x 11" and even panorama photos up to 8.5" tall.</p>
                </div>
                <div class="row">
                    <h3 style="padding-bottom:10px">What is the online photo vault?</h3>
                    <p class="text-muted">The online photo vault is a powerful web based photo browser. You will login with a password provided to you. The photo vault will allow you to browse your photos by labels, perform context searches, and includes facial recognition. In addition, you can create password protected links to share albums or individual photos with family and friends.</p>
                </div>
                <div class="row">
                    <h3 style="padding-bottom:10px">What is context searching?</h3>
                    <p class="text-muted">The online photo vault allows you to search for things like "boat", "beach", "birthday party" etc. without needing to tag or organize the photos. This is accomplished with local A.I. - your data is not shared with any external parties.</p>
                </div>
                <div class="row">
                    <h3 style="padding-bottom:10px">Is any of my data or photos shared?</h3>
                    <p class="text-muted">No, your data and photos are not shared with anyone. All processing is performed on site and all context searching and facial recognition is performed with local A.I. models.</p>
                </div>
            </div>
        </div>
    </div>
</section>
