<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Your memories made digital</h1>
            <hr>
            <p><strong>We scan your photos and provide an efficient way to browse your memories. All inclusive flat rate pricing with image enhancements, an online photo vault to quickly share with family and friends, and context aware searching with facial recognition.</strong></p>
            <a href="#service" class="btn btn-primary btn-xl page-scroll">How It Works</a>
        </div>
    </div>
</header>
