<section id="pricing" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Pricing</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-usd wow bounceIn text-primary"></i>
                    <h3>Flat Rate $0.15 per photo</h3>
                    <div>
                        <div style="padding-bottom:5px" class="text-muted">
                            <i class="fa fa-check-circle"></i> Original Scan
                        </div>
                        <div style="padding-bottom:5px" class="text-muted">
                            <i class="fa fa-check-circle"></i> Enhanced Scan
                        </div>
                        <div style="padding-bottom:5px" class="text-muted">
                            <i class="fa fa-check-circle"></i> Front and Back
                        </div>
                        <div style="padding-bottom:5px" class="text-muted">
                            <i class="fa fa-check-circle"></i> Digital Download
                        </div>
                        <div style="padding-bottom:5px" class="text-muted">
                            <i class="fa fa-check-circle"></i> Online photo vault
                        </div>
                        <div style="padding-bottom:5px" class="text-muted">
                            <i class="fa fa-check-circle"></i> Context searching
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-plus-square wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Optional USB Stick - $10</h3>
                    <p class="text-muted">If you would like all of your photos on a physical USB stick, let us know when you contact us to arrange for drop off.</p>
                </div>
            </div>
        </div>
    </div>
</section>
