<section id="service">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">How It Works</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-inbox wow bounceIn text-primary"></i>
                    <h3>Prepare Photos</h3>
                    <p class="text-muted">Place your photos in sandwich bags or rubber banded together by album or event. Provide a name and date if known. Photos will be organized into folders and include dates in the files.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-map-marker wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Drop off Photos</h3>
                    <p class="text-muted">No shipping necessary! Drop off your photos near Freeman Park off (Route 3 and Freeman Road).</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-camera wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Scan</h3>
                    <p class="text-muted">You photos are scanned, processed and loaded into an online photo vault. If handwriting is detected on the back, both the front and back is scanned.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-share wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Share Instantly</h3>
                    <p class="text-muted">Receive all of your files with a digital download link and photo vault access via email as soon as processing is complete. Your original photos can be picked up at any time.</p>
                </div>
            </div>
        </div>
    </div>
</section>
